body {
  font-family: "Roboto", sans-serif;
}

.secondary_text {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 300;
}

.az-hero {
  text-align: center;
  background-image: url(../assets/images/spices.jpeg);
  background-size: cover;
  width: 100%;
  height: 30vw;
  padding: 40px;
  display: block;
}

.az-hero h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight:600;
  margin-top: 140px;
}

.az-hero p {
  font-size: 24px;
  color: #F9FAF8;
}

main .recipe {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #E5E7EB;
}

.recipe-image {
  flex: 1;
}

.recipe-image img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.recipe-details {
  flex: 1;
  padding: 20px;
}

.recipe-details h2 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #1F2937;
}

.recipe-details h3 {
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.recipe-details ul,
.recipe-details ol {
  margin-left: 20px;
}


footer {
  text-align: center;
  padding: 10px;
  background-color:#1F2937;
  color: #fff;
}


@media screen and (min-width: 769px) {
  .az-hero {
    padding: 40px;
  }

  .recipe-details,
  .recipe-image {
    flex: 1;
  }

  .recipe-image img {
    max-height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .az-hero h1 {
    font-size: 28px;
  }

  .recipe-details h2 {
    font-size: 20px;
  }

  .recipe-details h3 {
    font-size: 18px;
  }

  .recipe-details p,
  .recipe-details li {
    font-size: 16px;
  }

  .az-hero {
    /* Adjust hero styles for mobile devices */
    padding: 20px;
  }

  .recipe-details,
  .recipe-image {
    /* Adjust recipe section styles for mobile devices */
    flex: 100%;
  }

  .recipe-image img {
    max-height: 300px;
  }
}
