body{
    /* height: 100vh;
    width: 100vw; */
    background-color: #1F2937;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}

.hero_img {
    background-image: url(/assets/images/plov.jpg);
    background-size: cover;
}

.hero_recipe {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10em;
    background-color: rgba(0,0,0,0.5);
}



.details, .ingredients, .instructions{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
} 

.fa-regular{
    color: white;
}

.details {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: rgba(0,0,0,0.5);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: -3rem;
}

.recipe_info {
    display: flex;
    padding: 1em 10em;
}

.ingredients{
    width: 40%;
    display: flex;
    gap: 0.5rem;
}

.instructions {
    width: 60%;
}

.bold {
    font-weight: bolder;
}

.details div{
    display: flex;
    gap: 0.5rem;
}

.starter{
    background: rgba(0,0,0,0.0);
    /* position: absolute;
    top: 1rem; */
}

@media only screen and (max-width: 991px) {

    .hero_recipe {
        padding: 4em;
    }

    .ingredients, .instructions {
        width: 100%;
        padding-top: 0;
    }

    .recipe_info {
        flex-direction: column;
        padding: 1em;
    }

}